*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
*{
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

body{
    height: calc(100vh - 15px);
    width: calc(100vw - 15px);
    margin: 5px 10px 10px 5px;
    overflow: hidden;
    box-shadow: grey 5px 5px;
}

#header{
    background-color: white;
    height: calc(10% - 6px);
    width: calc(100% - 6px);
    border: 3px solid black;
    position: relative;
    /*overflow: hidden;*/
}
#logo{
    height: 100%;
    width: auto;
    left: 0;
    position: absolute;
}
#txtTitle{
    /*background-color: pink;*/
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    padding: 0 10px 0 10px;
    font-size: 8vh;
    text-align: center;
}

#monthViewer{
    background-color: transparent;
    height: 90%;
    width: 20%;
    float: left;
}

#dayViewer{
    /*background-color: blue;*/
    height: 90%;
    width: 80%;
    float: right;
}

#btnCycleBack, #btnCycleForward{
    background-color: #dddddd;
    height: calc(5% - 2px);
    width: calc(100% - 2px);
    border: 1px solid black;
    cursor: pointer;
    font-size: 2em;
}
#previousMonth{
    background-color: orange;
    height: calc(30% - 2px);
    width: calc(100% - 2px);
    border: 1px solid black;
}
#currentMonth{
    background-color: yellow;
    height: calc(30% - 2px);
    width: calc(100% - 2px);
    border: 1px solid black;
}
#nextMonth{
    background-color: teal;
    height: calc(30% - 2px);
    width: calc(100% - 2px);
    border: 1px solid black;
}

#calendar{
    width: 100%;
    height: calc(100% - 56px);
    background-color: #ffffff;
}
#calendar th, td{
    border: 1px solid black;
}

#calendar td{
    width: calc(100% / 7);
}
#calendar thead tr{
    background-color:#4CAF50;
    color: white;
    font-style: bold;
    height: 50px;
}
#calendar tr{
    height: calc(100% / 6);
}
#calendar-body tr{
    cursor: pointer;
}
#calendar-body tr:nth-child(even){
    background-color: #e4e4ff;
}
#calendar-body tr:hover{
    background-color: #cccccc;
}
#calendar-body td:hover{
    background-color: #aaaaaa;
}
