*{
    padding: 0;
    margin: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 10vh;
    background-color: #e4e4ff;
    padding: 10px;
}

#content{
    background-color: #aaffaa;
    padding: 10px;
}

#tblDatabase{
    width: auto;
    border: 1px solid black;
    background-color: #dddddd;
    padding: 10px;
}
