.sign-up-form{
	width:400px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.8);
	background-color: #d3d3d3;
	font-size: 23px;
	padding: 40px;
	margin: auto;
	text-align: center;
	font-family: sans-serif;
	border-radius: 20px;
	border:2px solid#999;

}

.sign-up-form h1{
	color: black;
	margin-bottom: 30px;
}

.inputBox{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width:100%;
	border: 2px solid #999;
	outline: none;
}
button{
	color: black;
	width:100%;
	padding:10px;
	border-radius:40px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}

.signBtn{
	background-color: #d3d3f4;
	color:black;
	border: 2px solid black;
	margin-top: 15px;
}
a{
	text-decoration: none;
}
hr{
	margin-top: 20px;
	width: 100%;
}

.or{
	background:#d3d3d3;
	width: 70px;
	margin:-15px auto 10px;
}

.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%
}

a{
	
	text-decoration: none;
}
